button {
    cursor: pointer;
}

.table.table-borderless th,
.table.table-borderless td {
    border: none;
}

/* Info box */
.info-box {
    border-radius: 0.25rem;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: 0.5rem;
    position: relative;
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
}
.info-box .info-box-icon {
    border-radius: 0.25rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
}
.info-box .info-box-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 120%;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
}
.info-box .info-box-text,
.info-box .progress-description {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.info-box .info-box-number {
    display: block;
    margin-top: 0.25rem;
    font-weight: 700;
}


/* Custom validation error box */
.validation-alert {
    border: 1px solid #dc2626;
    border-radius: 2px;
    margin-bottom: 10px;
}
.validation-alert .head {
    background-color: #dc2626;
    color: #fefefe;
    padding: 5px 15px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.validation-alert .body {
    padding: 15px;
    background-color: rgba(250, 84, 84, 0.2);
}
.validation-alert ul {
    color: #dc2626;
}